.contenido{
    margin-top: 20px;
}
.dado{
    padding:0px 100px;
}

.fondo1{
    background-color: red;
    color: white;
    padding: 100px;
    margin: 30px;
}

.fondo2{
    background-color: black;
    font-size: 50px;
    color: white;
    padding:  100px;
    margin: 0px 30px;
    border-radius: 80px;
}
